@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo!</h1>
    <img src="https://www.labclinconfresa.com.br/img/logo.png?v=1713552589" alt="logo" />
</div>
